
APP_NAME=StreamPulse
APP_ENV=prod

SECRET_KEY=__GENERATE_WITH_PYTHON_SECRETS__

FERNET_KEY=__GENERATE_VIA_PYTHON_CRYPTOGRAPHY_FERNET__

JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

DATABASE_URL=postgresql+asyncpg://streampulse:streampulse@db:5432/streampulse
POSTGRES_PASSWORD=__GENERATE_URL_SAFE_SECRET__

SYNC_DATABASE_URL=postgresql+psycopg2://streampulse:streampulse@db:5432/streampulse

REDIS_URL=redis://redis:6379/0

DEFAULT_LANG=uk
